/* =============================================================================
   HTML5 CSS Reset Minified - Eric Meyer
   ========================================================================== */

@import url("https://fonts.googleapis.com/css?family=Lato:100");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,300italic,700");

html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent}
body{line-height:1}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
nav ul{list-style:none}
blockquote,q{quotes:none}
blockquote:before,blockquote:after,q:before,q:after{content:none}
a{margin:0;padding:0;font-size:100%;vertical-align:baseline;background:transparent;text-decoration:none}
mark{background-color:#ff9;color:#000;font-style:italic;font-weight:bold}
del{text-decoration:line-through}
abbr[title],dfn[title]{border-bottom:1px dotted;cursor:help}
table{border-collapse:collapse;border-spacing:0}
hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0}
input,select{vertical-align:middle}
li{list-style:none}


/* =============================================================================
   My CSS
   ========================================================================== */

/* ---- base ---- */

html,body{ 
	width:100%;
	height:100%;
	background:rgb(255, 255, 255, 0);
  font-family: 'Playfair Display', sans-serif;font-weight: 300;
    font-size: 1em;
    line-height: 1.5;}
    strong, b {
  font-weight: bold;
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

h1{
	font-family:'Lato', 'Open-Sans', Arial, Helvetica,sans-serif;
	font-size:3em;font-weight: bold;line-height: 1;
	color:#ce2608;
	line-height: 1;
	text-align:left;
	margin:0 0px 10px 0px;
}

#more button{
  color:#ce2608;
  border-color: transparent;
  background-color: bisque;
  width: 30px;
  height: 30px;
  padding: 0;
  text-align: center;
  flex: 1; 
  border-radius: 5px;
}

h2{
	font-family:"Lato", "Open Sans", Arial, sans-serif;
	font-size:2em;font-weight: bold;line-height: 1;
	color:#ce2608;
	line-height: 1;
	text-align:left;
	margin:0 0px 10px 0px;
}

h3{
	font-family:"Lato", "Open Sans", Arial, sans-serif;
  /*font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;*/
	font-size:1em;font-weight: bold;line-height: 1;
	color:#000000;
	line-height: 1;
	text-align:left;
	margin:0 0px 10px 0px;
}

ul {
  font-size:15px;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

ul > li{
  font-size: 15px;
  margin-left: 17px;
  display: list-item;
  list-style-type: disc;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

@media screen and (max-width: 2000px) {
  .container{
    width: 50%;
    min-height: 100%;
    max-height: 999999999px;
    margin: 56px auto 20px;
  }
}

@media screen and (max-width: 1024px) {
  .container{
    width: 80%;
    min-height: 100%;
    max-height: 999999999px;
    margin: 2vw 2vw 2vw 2vw;
  }
}

@media screen and (max-width: 768px) {
  .wide {display:none;}
  .mobilefont {font-size:0.8em;}

  .container{
    width: 80%;
    min-height: 100%;
    max-height: 999999999px;
    margin: 2vw 2vw 2vw 2vw;
  }
}

@media(min-width:768px){
  .tight {display:none;}
}

@media screen and (max-width: 540px) {
  .container{
    width: 80%;
    min-height: 100%;
    max-height: 999999999px;
    margin: 2vw 2vw 2vw 2vw;
  }

  h1{
    text-align: center;
    font-size:2em;
  }

  h2{
    font-size:2em;
  }

  #profpicdiv{
    margin-left: 40px;
  }

  #contacts .icon-bar {
    text-align: center;
  }
}

@media screen and (max-width: 425px) {
  .container{
    width: 80%;
    min-height: 100%;
    max-height: 999999999px;
    margin: 2vw 2vw 2vw 2vw;
  }

  h1{
    text-align: center;
    font-size:2em;
  }

  h2{
    font-size:2em;
  }

  #profpicdiv{
    margin-left: 20px;
  }

  #contacts .icon-bar {
    text-align: center;
  }
}

@media screen and (max-width: 375px) {
  .container{
    width: 80%;
    min-height: 100%;
    max-height: 999999999px;
    margin: 2vw 2vw 2vw 2vw;
  }

  h1{
    text-align: center;
    font-size:2em;
  }

  h2{
    font-size:2em;
  }

  #profpicdiv{
    margin-left: 20px;
  }

  #contacts .icon-bar {
    text-align: center;
  }
}

@media screen and (max-width: 320px) {
  .container{
    width: 90%;
    min-height: 100%;
    max-height: 999999999px;
    margin: 2vw 2vw 2vw 2vw;
  }

  h1{
    text-align: center;
    font-size:2em;
  }

  h2{
    font-size:2em;
  }

  #profpicdiv{
    margin-left: 20px;
    object-fit: contain;
    max-width:100%;
  }

  #contacts .icon-bar {
    text-align: center;
  }
}

@media screen and (max-width: 280px) {
  .container{
    width: 90%;
    min-height: 100%;
    max-height: 999999999px;
    margin: 2vw 2vw 2vw 2vw;
  }

  h1{
    text-align: center;
    font-size:2em;
  }

  h2{
    font-size:2em;
  }

  #profpicdiv{
    margin-left: 0px;
  }

  #contacts .icon-bar {
    text-align: center;
  }
}

.alignMe c {
  display: inline-block;
  width: 25%;
  position: relative;
  padding-right: 10px; /* Ensures colon does not overlay the text */
}

.alignMe c::after {
  content: ":";
  position: absolute;
  right: 1px;
}

#menu a{
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}


img{border:0;}
/*#profilepic{float:left;border:solid #ccc thin;border-radius:5px;margin:8px;padding:4px;background-color:#fff;}*/
#profilepic{float:left;margin:0;padding:0;border:0;border-radius:0;width:280px;}
:link {cursor: pointer; }
#profpicdiv {
  float:left;
/*  display: inline-block;*/
  vertical-align: top;
  width: 224px;
  height: 224px;
  margin: 10 10 10 10;
}
#profpicdiv {
  background: url(../pp.png) no-repeat 0 0;
  border-left:0;
  border-top:0;
  margin-right: 15px;
  border-radius:10px;
}

#desc a{text-decoration: underline;}

/* menu css */
.dropbtn{
  display: none;
}

#menu {position:relative; text-align: center;border-bottom:0px;padding:0;border-bottom:0px;border-top:2px solid #b4cdf3c7;background:#fff;width:100%;z-index:10000;-webkit-z-index:10000;}
#menu ul li{display: inline-block; padding: 0;}
#menu ul li a {display:inline-block;text-decoration:none;border-top:-1px;font-size:15px; color:#000;font-weight:3000;background-color:#fff;padding:5px 5px 5px;border-bottom-left-radius:5px;border-bottom-right-radius:5px;}
#menu ul li a:hover {color:#000;background-color:#b4cdf3c7;;border-bottom:2px solid #b4cdf3c7; border-right:0;}
#menu ul li a.on {color:#000;background-color:#b4cdf3c7;border-bottom:2px solid #b4cdf3c7;font-weight:bolder;border-top:2px;}
#menu ul li a.on:hover {color:#000;background-color:#b4cdf3c7;;border-bottom:2px solid #b4cdf3c7; border-top:0;}
a.inactive, a.inactive:hover{opacity:.2;border-bottom:2px solid #b4cdf3c7;}
#menu ul li a{background:#b4cdf3c7;margin:0;padding:0px;list-style-type:none;text-align:center;display:inline-block;font-size:1em;}
#menu ul li a{margin-left:0;padding-right:0.5em;list-style:none;display:-moz-inline-stack;
  display:inline-block;padding-left:0.5em;padding-bottom:.1em;
  /*zoom:1;*/font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;}
#menu ul.first{border-left:none;}

#menu a.dropdown{
  display:none;
}

.dropdown-content{
  display:none;
  border-top-right-radius: 0px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  padding-bottom: 10px;
}

@media screen and (max-width: 640px) {
  #menu ul li a:not(.on){
    display:none;
    text-align: center;
  }

  #menu a{
    list-style-type: none;
  }

  #menu ul li{display: block; padding: 0;}

  .dropbtn {
    border-radius: 0;
    background: #b4cdf3c7;
    margin-top: -25px;
    margin-bottom: -5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    text-decoration: none;
    outline:none;
    text-align: left;
    font-size: 18px;
    position:relative;
    display: block;
    border-color: transparent;
  }

  .dropbtn:hover, .dropbtn:focus  {font-weight: bold;border-bottom: 2px solid #b4cdf3c7;outline:auto;
    overflow: auto;}

  #menu a.dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: relative;
    margin-top: 6px;
    background-color: #b4cdf3c7;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 10px 10px 0px 10px;
    display: block;
    position:relative;
    font-size: 18px;
  }
  
  .dropdown-content a:hover{text-decoration: underline;font-weight: bolder;}
  #menu a.dropdown a:hover {text-decoration: underline;}
  #menu a.dropdown:hover .dropbtn {background-color: #b4cdf3c7;}
  .show {display: block;}
}

@media screen and (max-width: 540px) {
  #menu ul li a:not(.on){
    display:none;
    text-align: center;
  }

  #menu a{
    list-style-type: none;
  }

  #menu ul li{display: block; padding: 0;}

  .dropbtn {
    border-radius: 0;
    background: #b4cdf3c7;
    margin-top: -25px;
    margin-bottom: -5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    text-decoration: none;
    outline:none;
    text-align: left;
    font-size: 18px;
    position:relative;
    display: block;
    border-color: transparent;
  }

  .dropbtn:hover, .dropbtn:focus  {font-weight: bold;border-bottom: 2px solid #b4cdf3c7;outline:auto;
    overflow: auto;}

  #menu a.dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: relative;
    margin-top: 6px;
    background-color: #b4cdf3c7;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 10px 10px 0px 10px;
    display: block;
    position:relative;
    font-size: 18px;
  }
  
  .dropdown-content a:hover{text-decoration: underline;font-weight: bolder;}
  #menu a.dropdown a:hover {text-decoration: underline;}
  #menu a.dropdown:hover .dropbtn {background-color: #b4cdf3c7;}
  .show {display: block;}
}

@media screen and (max-width: 480px) {
  #menu ul li a:not(.on){
    display:none;
    text-align: center;
  }

  #menu a{
    list-style-type: none;
  }

  #menu ul li{display: block; padding: 0;}

  .dropbtn {
    border-radius: 0;
    background: #b4cdf3c7;
    margin-top: -25px;
    margin-bottom: -5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    text-decoration: none;
    outline:none;
    text-align: left;
    font-size: 18px;
    position:relative;
    display: block;
    border-color: transparent;
  }

  .dropbtn:hover, .dropbtn:focus  {font-weight: bold;border-bottom: 2px solid #b4cdf3c7;outline:auto;
    overflow: auto;}

  #menu a.dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: relative;
    margin-top: 6px;
    background-color: #b4cdf3c7;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 10px 10px 0px 10px;
    display: block;
    position:relative;
    font-size: 18px;
  }
  
  .dropdown-content a:hover{text-decoration: underline;font-weight: bolder;}
  #menu a.dropdown a:hover {text-decoration: underline;}
  #menu a.dropdown:hover .dropbtn {background-color: #b4cdf3c7;}
  .show {display: block;}
}

@media screen and (max-width: 375px) {
  #menu ul li a:not(.on){
    display:none;
    text-align: center;
  }

  #menu a{
    list-style-type: none;
  }

  #menu ul li{display: block; padding: 0;}

  .dropbtn {
    border-radius: 0;
    background: #b4cdf3c7;
    margin-top: -25px;
    margin-bottom: -5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    text-decoration: none;
    outline:none;
    text-align: left;
    font-size: 18px;
    position:relative;
    display: block;
    border-color: transparent;
  }

  .dropbtn:hover, .dropbtn:focus  {font-weight: bold;border-bottom: 2px solid #b4cdf3c7;outline:auto;
    overflow: auto;}

  #menu a.dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: relative;
    margin-top: 6px;
    background-color: #b4cdf3c7;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 10px 10px 0px 10px;
    display: block;
    position:relative;
    font-size: 18px;
  }
  
  .dropdown-content a:hover{text-decoration: underline;font-weight: bolder;}
  #menu a.dropdown a:hover {text-decoration: underline;}
  #menu a.dropdown:hover .dropbtn {background-color: #b4cdf3c7;}
  .show {display: block;}
}

@media screen and (max-width: 360px) {
  #menu ul li a:not(.on){
    display:none;
    text-align: center;
  }

  #menu a{
    list-style-type: none;
  }

  #menu ul li{display: block; padding: 0;}

  .dropbtn {
    border-radius: 0;
    background: #b4cdf3c7;
    margin-top: -25px;
    margin-bottom: -5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    text-decoration: none;
    outline:none;
    text-align: left;
    font-size: 18px;
    position:relative;
    display: block;
    border-color: transparent;
  }

  .dropbtn:hover, .dropbtn:focus  {font-weight: bold;border-bottom: 2px solid #b4cdf3c7;outline:auto;
    overflow: auto;}

  #menu a.dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: relative;
    margin-top: 6px;
    background-color: #b4cdf3c7;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 10px 10px 0px 10px;
    display: block;
    position:relative;
    font-size: 18px;
  }
  
  .dropdown-content a:hover{text-decoration: underline;font-weight: bolder;}
  #menu a.dropdown a:hover {text-decoration: underline;}
  #menu a.dropdown:hover .dropbtn {background-color: #b4cdf3c7;}
  .show {display: block;}
}

@media screen and (max-width: 320px) {
  #menu ul li a:not(.on){
    display:none;
    text-align: center;
  }

  #menu a{
    list-style-type: none;
  }

  #menu ul li{display: block; padding: 0;}

  .dropbtn {
    border-radius: 0;
    background: #b4cdf3c7;
    margin-top: -25px;
    margin-bottom: -5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    text-decoration: none;
    outline:none;
    text-align: left;
    font-size: 18px;
    position:relative;
    display: block;
    border-color: transparent;
  }

  .dropbtn:hover, .dropbtn:focus  {font-weight: bold;border-bottom: 2px solid #b4cdf3c7;outline:auto;
    overflow: auto;}

  #menu a.dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: relative;
    margin-top: 6px;
    background-color: #b4cdf3c7;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 10px 10px 0px 10px;
    display: block;
    position:relative;
    font-size: 18px;
  }
  
  .dropdown-content a:hover{text-decoration: underline;font-weight: bolder;}
  #menu a.dropdown a:hover {text-decoration: underline;}
  #menu a.dropdown:hover .dropbtn {background-color: #b4cdf3c7;}
  .show {display: block;}
}

@media screen and (max-width: 280px) {
  #menu ul li a:not(.on){
    display:none;
    text-align: center;
  }

  #menu a{
    list-style-type: none;
  }

  #menu ul li{display: block; padding: 0;}

  .dropbtn {
    border-radius: 0;
    background: #b4cdf3c7;
    margin-top: -25px;
    margin-bottom: -5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    text-decoration: none;
    outline:none;
    text-align: left;
    font-size: 18px;
    position:relative;
    display: block;
    border-color: transparent;
  }

  .dropbtn:hover, .dropbtn:focus  {font-weight: bold;border-bottom: 2px solid #b4cdf3c7;outline:auto;
    overflow: auto;}

  #menu a.dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: relative;
    margin-top: 6px;
    background-color: #b4cdf3c7;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 10px 10px 0px 10px;
    display: block;
    position:relative;
    font-size: 18px;
  }
  
  .dropdown-content a:hover{text-decoration: underline;font-weight: bolder;}
  #menu a.dropdown a:hover {text-decoration: underline;}
  #menu a.dropdown:hover .dropbtn {background-color: #b4cdf3c7;}
  .show {display: block;}
}

.bibItem {
  font-size:  14px;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

details > summary{
  font-size: 15px;
  text-indent: -1.5em;
  margin-left: 25px;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size:1.1em;
}

.fa-github {
  color: rgb(160, 8, 160);
}

.ai-orcid-square{
  color:limegreen;
}

.ai-google-scholar-square{
  color: rgb(0, 119, 255);
}

.ai-researchgate-square{
  color:rgb(20, 212, 139);
}

.ai-publons-square{
  color:rgb(12, 88, 158);
}

.btn{padding:.5rem;font-size:.8rem;line-height:.9;box-shadow: 0 0 .5px #000000;}
.btn-outline-primary:focus,.btn-outline-primary.focus{box-shadow:0 0 0 .2em rgba(21, 6, 231, 0.5)}.btn-outline-primary.disabled,.btn-outline-primary:disabled{color:#1565c0;background-color:transparent}.btn-outline-primary:not(:disabled):not(.disabled):active,.btn-outline-primary:not(:disabled):not(.disabled).active,.show>
.btn-page-header{margin:4px 4px 4px 0}
.artLinks{padding-top:10px}.media.stream-item:not(:last-child){margin-bottom:2rem}.card-simple
iframe{max-width:100%}.btn{padding:.5rem;font-size:.8rem;line-height:.9;}.artLinks

.flexcontainer {display:flex;}
.bibcontainer {flex: 1; padding-right:5px;}
.bibItem { display:block; color:#000; text-decoration:none;padding: 5px 5px 5px 5px;border-radius:2px;}
.bibItem:hover {border:1px solid #fff; background-color:#b4cdf3c7; border-right:1px;}
.abstract {font-size:1em; text-decoration:none;padding-top:10px; padding-left:20px; padding-right:20px;}
.artLinks{text-align:left;margin:0;padding:0;border:none;padding-bottom:10px; min-width: 350px}
.artLinks a {display:inline-block;text-decoration:underline;}
.artLinks a:hover {text-decoration:none;}
.artLinks ul{margin:0;padding:0;list-style-type:none;text-align:left;display:inline-block;font-size:0.8em;}
.artLinks ul > li{
	margin:0;padding:2px 1.5em;padding-right:1.2em;border-left:1px solid rgb(255, 255, 255);list-style:none;display:-moz-inline-stack;
display:inline-block;
/*zoom:1;*/
display:inline;
}
.artLinks ul li.first{border-left:none;}

details > summary {display:block}

details[open] summary ~ * {
  animation-name: slideInDown;
}

@keyframes slideInDown {
  from {
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.container{
	max-height: 999999px; /* prevents font boosting */
  margin: 56px auto 56px; /* top right bottom left */
  border-radius: 12px;
  position: relative;
  background-color: transparent;
  box-shadow: 0 0 10px #000000;
  padding: 14px 14px 14px 14px; /* top right bottom left */
}

.container.container{
  border-color: rgba(0, 0, 0, 0);
  background-color: rgb(255, 255, 255, 1);
}

table.imgtable, table.imgtable td {
  border: none;
  text-align: left;
}

td {
  padding: 2px;
  padding-left: 0.5em;
  padding-right: 0.5em;
  text-align: center;
  border: 1px solid gray;
  font-family : sans-serif;
  font-size: 14px;
}

html{
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body{
  font:normal 75% Arial, Helvetica, sans-serif;
  border-radius: 25px;
}

canvas{
  display:block;
}

/* ---- stats.js ---- */
.count-particles{
  background: #000022;
  position: absolute;
  top: 48px;
  left: 0;
  width: 80px;
  color: #13E8E9;
  font-size: .8em;
  text-align: left;
  text-indent: 4px;
  line-height: 14px;
  padding-bottom: 2px;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
}

.js-count-particles{
  font-size: 1.1em;
}

#stats,
.count-particles{
  margin-top: 5px;
  margin-left: 5px;
}

#stats{
  border-radius: 3px 3px 0 0;
  overflow: hidden;
}

.count-particles{
  border-radius: 0 0 3px 3px;
}


/* ---- particles.js container ---- */

#particles-js{
  position:absolute;
  width: 100%;
  height: 100%;
  background-color: rgb(255, 255, 255, 1);
  background-image: url('');
  background-size: cover;
  background-position: 100% 100%;
  background-repeat: no-repeat;
}
