#tt {
 position:absolute;
 z-index:100;
 display:block;
}

#tttop {
 display:block;
 height:5px;
 margin-left:5px;
 overflow:hidden;
 }

#ttcont {
 display:block;
 padding:2px 12px 3px 7px;
 margin-left:5px;
 background:black;
 color:white;
 font-weight:bold;
 font-size:9px;
}

#ttbot {
display:block;
height:5px;
margin-left:5px;
overflow:hidden;
}

.tooltipstyle {
color:white;
font-size:9px;
}
