            <div id="profpicdiv" role="img" aria-label="Photo of JunJie Wee"></div>
            <div id="contacts">
                <table class="imgtable">
                    <tbody>
                        <tr>
                            <td>
                                <h1>JunJie Wee</h1>
                                <div class="icon-bar">
                                    <a href="https://scholar.google.com.sg/citations?hl=en&user=aY7AQeIAAAAJ"
                                        target="_blank" aria-label="Google Scholar profile"><i class="ai ai-google-scholar-square ai-2x"></i></a>
                                    <a href="https://github.com/ExpectozJJ/" target="_blank" aria-label="GitHub profile"><i
                                            class="fa-brands fa-github-square fa-2x"></i></a>
                                    <a href="https://orcid.org/my-orcid?orcid=0000-0001-8444-3252" target="_blank" aria-label="ORCID profile"><i
                                            class="ai ai-orcid-square ai-2x"></i></a>
                                    <a href="https://www.researchgate.net/profile/Junjie-Wee/" target="_blank" aria-label="ResearchGate profile"><i
                                            class="ai ai-researchgate-square fa-2x"></i></a>
                                    <a href="https://publons.com/researcher/4297976/junjie-wee" target="_blank" aria-label="Publons profile"><i
                                      class="ai ai-publons-square fa-2x"></i></a>
                                </div>
                                <br>
                                <ul>
                                <li id="email" style="font-size: 16px;margin-left:0;list-style-type: none;"> <i class="fas fa-envelope"></i> weejunji[at]msu.edu</li></ul><br>
                                <ul>
                                <li style="font-size: 16px;margin-left:0;list-style-type: none;">
                                  <i class="fas fa-briefcase"></i> Department of Mathematics</li>
                                  <li style="font-size: 16px;margin-left:9;list-style-type: none;">
                                    Michigan State University</li>
                                    <li style="font-size: 16px;margin-left:9;list-style-type: none;">
                                      C114 Wells Hall</li>
                                    <li style="font-size: 16px;margin-left:9;list-style-type: none;">
                                      619 Red Cedar Road</li>
                                      <li style="font-size: 16px;margin-left:9;list-style-type: none;">
                                        East Lansing, MI, 48824</li>
                                </ul>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
